<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" > <!--thymeleaf namespace : gợi ý cu pháp cho thymeleaf-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Books shop</h1>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${pageResponse.getContent()}" th:classappend="${book.id % 2 == 0} ? 'table-primary' : 'table-secondary'">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.year}"></td>
            <td>
                <a th:href="'/books/' + ${book.id}" class="btn btn-secondary ml-2">Xem</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between">
        <button th:if="${pageResponse.currentPage > 1}" class="btn btn-primary">
            <a th:href="@{/books(page=${pageResponse.currentPage - 1}, size=${pageResponse.pageSize})}" class="text-white">Trang trước</a>
        </button>
<!--        <button th:each="num : ${#numbers.sequence(1,pageResponse.totalPages())}">-->
<!--            <a href="|/books?page=${num}|" th:text="${num}"></a>-->
<!--        </button>-->
        <span>Page <span th:text="${pageResponse.currentPage}"></span> of <span th:text="${pageResponse.totalPages}"></span></span>

        <button th:style="${pageResponse.getCurrentPage() == number ? 'background-color: red' : ''}"
                th:each="number : ${#numbers.sequence(1, pageResponse.totalPages)}">
            <a th:href="|/books?page=${number}|" th:text="${number}">1</a>
        </button>

        <button th:if="${pageResponse.currentPage < pageResponse.totalPages}" class="btn btn-primary">
            <a th:href="@{/books(page=${pageResponse.currentPage + 1}, size=${pageResponse.pageSize})}" class="text-white">Trang sau</a>
        </button>
    </div>

<!--    <div class="d-flex justify-content-between">-->
<!--        <button th:if="${pageResponse.currentPage > 1}" class="btn btn-primary">-->
<!--            <a th:href="@{/books(page=${pageResponse.currentPage - 1}, size=${pageResponse.pageSize})}" class="text-white">Trang trước</a>-->
<!--        </button>-->
<!--        <span>Page <span th:text="${pageResponse.currentPage}"></span> of <span th:text="${pageResponse.totalPages}"></span></span>-->

<!--        <button th:style="${pageResponse.currentPage == number ? 'background-color: red' : ''}"-->
<!--                th:each="number : ${#numbers.sequence(1, pageResponse.totalPages)}">-->
<!--            <a th:href="|/books?page=${number}|" th:text="${number}">1</a>-->
<!--        </button>-->

<!--        <button th:if="${pageResponse.currentPage < pageResponse.totalPages}" class="btn btn-primary">-->
<!--            <a th:href="@{/books(page=${pageResponse.currentPage + 1}, size=${pageResponse.pageSize})}" class="text-white">Trang sau</a>-->
<!--        </button>-->
<!--    </div>-->
</div>

<script th:src="@{/js/main.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
